data/
lab*/data/
outputs/
lab*/outputs/
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.quarto/
*_cache/
*_files/
log.txt
self_reflection.md
feedback.md
.DS_Store
_book/
.gemini/
.geminiignore
.mcp.json
GEMINI.md
*.rmarkdown
*.Rproj
busco_downloads/

/.quarto/
**/*.quarto_ipynb
lab*_bg.R
lab3_bg.sh
lab4_bg.R
*.zip
.gitignore
